.constructor-page {
  padding: 150px 20px 20px;
  background: #f0e9df;
  font-family: 'Inter', sans-serif;
}

.constructor-page h1 {
  margin-top: 70px;
  text-transform: uppercase;
  font-size: 20px !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  color: #555;
}

.constructor-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.watch-preview {
  position: relative;
  width: 320px;
  height: 320px;
}

.watch-preview .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.options-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 320px;
}

.options-panel label {
  font-size: 12px;
  color: rgb(85, 85, 85) !important;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-left: 6px;
}

.options-panel select,
.options-panel button {
  padding: 0px;
  font-size: 15px !important;
  border: 1px solid transparent;
  border-radius: 3px;
  color: rgb(85, 85, 85);
  background: transparent;
  cursor: pointer;
}

.options-panel button {
  background-color: #333;
  color: #F5F1EB;
  transition: background-color 0.3s;
}

.options-panel button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .constructor-container {
    flex-direction: column;
    align-items: center;
  }

  .watch-preview {
    width: 100%;
    max-width: 250px;
    position: sticky;
    z-index: 2;
    padding-bottom: 20px;
    height: 350px !important;
  }

  .watch-preview .layer {
    width: 100%;
    height: auto;
  }
}

.watch-preview-box {
  border: 0px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background: #F5F1EB;
  position: relative;
  width: 340px;
  height: 500px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Адаптив для мобильных 
@media (max-width: 600px) {
  .watch-preview-box {
    width: 100%;
    height: 400px;
  }
}*/



.watch-preview {
  position: relative;
  width: 320px;
  height: 320px;
}

.corner-text {
  position: absolute;
  bottom: 6px;
  font-size: 10px;
  color: #111;
  background: transparent;
  padding: 4px 8px;
  border-radius: 6px;
  z-index: 5;
}

.corner-text.left {
  left: 0px;
  right: auto;
}

.corner-text.left2 {
  left: 0px;
  /* ← будет отображать гравировку */
  right: auto;
  bottom: -5px;
}

.corner-text.right {
  right: 0px;
  /* ← будет отображать гравировку */
  left: auto;
}

.corner-text.right2 {
  right: 0px;
  /* ← будет отображать гравировку */
  left: auto;
  bottom: -5px;
}

.image-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image-options button {
  border: 2px solid transparent;
  background: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: border 0.3s;
}

.image-options button.selected {
  border-color: #251d17;
  /* оранжевая рамка как на скрине */
}

.image-options img {
  width: 60px;
  height: auto;
  object-fit: contain;
  border-radius: 6px;
}

.option-group {
  margin-bottom: 20px;
}

.option-header {
  cursor: pointer;
  padding: 7px;
  /*border: 1px solid rgb(85, 85, 85);*/
  border-radius: 3px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  color: rgb(85, 85, 85);
}

.option-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: flex-start;
  max-width: 320px;
  /* либо в пикселях, например 540px */
  width: 100%;
}

.option-images .option {
  width: calc(20% - 8px);
  /* 5 элементов + gap */
}

.option-images.active {
  display: flex;
}

.option {
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 4px;
  cursor: pointer;
  transition: border 0.3s;
}

.option.selected {
  border: 2px solid #f26c2a;
}

.option img {
  width: 40px;
  height: auto;
  display: block;
}

.option-images {
  transition: all 0.3s ease;
}

/* ==== МОБИЛЬНЫЙ: Фиксированный просмотр конструктора ==== */
@media (max-width: 768px) {
  .watch-preview-box {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    max-width: 321px;
    margin: 0 auto;
    padding: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    height: 370px;
    border-radius: 5px;
  }

  .options-panel button {

    border-radius: 5px;
  }

  .watch-preview-box .watch-preview {
    width: 100%;
  }

  .watch-preview-box img.layer {
    width: 100%;
    height: auto;
  }

  .constructor-container {
    margin-top: 40px;
    /* Отступ вниз, чтобы всё остальное не перекрывалось */
  }

  .corner-text {
    position: absolute;
    top: 0px;
    font-size: 10px;
    color: #111;
    background: transparent;
    padding: 0px 0px;
    border-radius: 10px;
    z-index: 5;
  }

  .constructor-page {
    padding: 25px 20px 77px;
  }

  .option-header {
    padding: 5px;
  }


  /* Блок, который станет липким, когда доскроллишь */
  .watch-preview-box {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    /* или сколько нужно */
    z-index: 2;
  }



  .watch-sticky-limiter {
    position: relative;
    height: 600px;
    /* Ограничивает зону "прилипания" */
    overflow: hidden;
  }

  .specs-box {
    margin-top: 30px;
    padding: 16px 20px;
    background-color: #f5f1eb;
    border: 0px solid #ccc;
    border-radius: 5px;
    width: 320px;
    box-sizing: border-box;
  }

  .corner-text.left {
    left: -15px;
    right: auto;
  }

  .corner-text.left2 {
    left: -15px;
    /* ← будет отображать гравировку */
    right: auto;
    top: 12px;
  }

  .corner-text.right {
    right: -20px !important;
    /* ← будет отображать гравировку */
    left: auto !important;
  }

  .corner-text.right2 {
    right: -23px !important;
    /* ← будет отображать гравировку */
    left: auto !important;
    top: 12px !important;
  }
}

@media (min-width: 769px) {
  .constructor-page {
    padding: 65px 20px 70px;
  }

  .back-button {
    position: fixed;
  }

  .constructor-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    max-width: none;
  }

  .watch-preview-box {
    flex: 0 0 auto;
    max-width: 325px;
    /* ⬅️ Меняй это значение, чтобы сделать блок уже или шире */
    min-height: 400px;
    /* ⬅️ Меняй это значение, чтобы сделать блок ниже или выше */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 180px;
    background: #F5F1EB;
    box-sizing: border-box;
    padding: 10px;
  }

  .options-panel {
    flex: 0 0 50%;
    max-width: 50%;
    overflow-y: auto;
    padding: 0px 30px 21px 50px;
    box-sizing: border-box;
  }

  #downloadBtn {
    margin-top: 20px;
    width: 320px;
  }

  .option-header {
    width: 320px;
    cursor: pointer;
    padding: 7px;
    /*border: 1px solid rgb(85, 85, 85);*/
    border-radius: 3px;
    display: inline-block;
    color: rgb(85, 85, 85);
    margin: 0;
    /* padding: 0; */
    font-size: 11px;
  }

  .options-panel label {
    font-size: 11px;
    color: rgb(85, 85, 85) !important;
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 320px;
    padding-left: 7px;
  }

  .options-panel select,
  .options-panel button {
    font-size: 12px !important;
  }

  .watch-preview {
    height: 350px;
  }
}

@media (min-width: 769px) {
  .constructor-container {
    display: flex;
    justify-content: center;
    /* центрируем весь блок */
    align-items: flex-start;
    max-width: 1400px;
    /* или любое значение по ширине */
    margin: 0 auto;
    /* центрирование контейнера */
    /* расстояние между блоками */
    padding: 0px 60px 0 170px;
    box-sizing: border-box;
    padding-bottom: 0px;
  }

  .corner-text {
    position: absolute;
    bottom: -25px;
  }

  .option-subtitle {
    font-size: 13px !important;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
    margin-top: 2px;
    /* text-align: center; */
    /* letter-spacing: 0.5px; */
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 1px;
    padding: 5px 0px 0px 59px !important;
  }
}



.arrow-icon {
  position: absolute;
  right: 10px;
  /* прижимает к правому краю */
  top: 50%;
  transform: translateY(-50%) rotate(225deg);
  /* выравнивает по центру + начальный поворот */
  transition: transform 0.3s ease;
  width: 8px;
  height: 8px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.option-header.open .arrow-icon {
  transform: translateY(-50%) rotate(45deg);
  /* поворот вверх */
}

#downloadBtn {
  margin-top: 20px;
  width: 320px;
  padding: 12px 0px 12px 0px;
}


.option-images.visible {
  max-height: 500px;
  /* можно больше, если нужно больше строк */
  opacity: 1;
}

.select-wrapper {
  position: relative;
  width: 320px;
}

.select-wrapper select {
  width: 100%;
  padding-right: 40px;
  font-size: 16px;
  line-height: 1.5;
  appearance: none;
  background-color: transparent;
  background-image: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  height: 48px;
  border-radius: 3px;
  color: rgb(85, 85, 85);
  cursor: pointer;
  background: transparent !important;
}

.select-wrapper select::-ms-expand {
  display: none;
  /* для IE */
}

/* Стрелка */
.select-wrapper::after {
  content: "+";
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(85, 85, 85);
  pointer-events: none;
}

/* Стрелка вверх при открытии */
.select-wrapper.select-open::after {
  content: '–';
}

.select-wrapper select:focus {
  outline: none;
  box-shadow: none;
}

.specs-box {
  margin-top: 30px;
  padding: 16px 20px;
  background-color: #f5f1eb;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 320px;
  box-sizing: border-box;
}

.specs-title {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.specs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #444;
}

.specs-list li {
  margin-bottom: 4px;
}


.bezel-config-box {
  margin-top: 20px;
  padding: 16px;
  background-color: #fef9f1;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.bezel-config-box label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.bezel-config-box input[type="number"] {
  width: 100%;
  max-width: 320px;
  /* фиксированная ширина как у других элементов */
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #aaa;
  margin-bottom: 16px;
  box-sizing: border-box;
  display: block;
}

.input-full {
  width: 100%;
  max-width: 320px;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin-bottom: 8px;
}


.bezel-carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.bezel-carousel img {
  flex-shrink: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.bezel-carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  margin-top: 10px;
}

.bezel-carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.bezel-img {
  display: none;
  width: 100%;
  max-width: 320px;
  height: auto;
  border-radius: 8px;
}

.bezel-img.active {
  display: block;
}

.bezel-prev-btn,
.bezel-next-btn {
  background: none !important;
  border: none !important;
  font-size: 28px !important;
  cursor: pointer !important;
  padding: 10px !important;
  font-weight: bold !important;
  color: #333 !important;
  transition: transform 0.2s ease !important;
  border-radius: 4px !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) !important;
  position: absolute !important;
  z-index: 2 !important;
  user-select: none !important;
}


.bezel-prev-btn:hover,
.bezel-next-btn:hover {
  transform: scale(1.1);
}



/* Сдвигаем влево и вправо на десктопе  */
.bezel-prev-btn {
  left: 16px;
}

.bezel-next-btn {
  right: 16px;
}

/* На мобильных — ближе к краю экрана */
@media (max-width: 768px) {
  .bezel-prev-btn {
    left: 3vw;
  }

  .bezel-next-btn {
    right: 3vw;
  }
}

@media (max-width: 768px) {
  #header {
    transition: transform 0.3s ease;
  }

  #header.hide-on-scroll {
    transform: translateY(-100%);
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: inherit;
    /* или конкретный цвет */
    transition: top 0.3s ease;
  }

  .header-placeholder {
    height: 60px;
    /* или высота вашего хедера */
  }

  .option-subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
    margin-top: 20px;
    text-align: center;
    /* letter-spacing: 0.5px; */
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 1px;
  }

}

.option-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
  margin-top: 20px;
  /* letter-spacing: 0.5px; */
  text-transform: uppercase;
  font-weight: 500 !important;
  letter-spacing: 1px;
}

@media (min-width: 769px) {
  .bezel-carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bezel-carousel-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 560px;
    /* ширина как у галереи */
    margin: 5px 0;
  }

  .bezel-prev-btn,
  .bezel-next-btn {
    background: none !important;
    position: relative !important;
    top: 0;
    margin: 2px 1px 10px 2px;
    padding: 9px 28px !important;
    border-radius: 4px !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) !important;
  }
}